# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Python cache
.pytest_cache/
.mypy_cache/

# Streamlit
.streamlit/secrets.toml

# Environment / secrets
.env
.env.*
*.pem
*.key

# Airflow
009_AirFlow/logs/
009_AirFlow/airflow.db/
009_AirFlow/airflow.cfg

# Temporary files
*.tmp
*.temp
*.log

# OS files
.DS_Store
Thumbs.db

# Large generated datasets
*.parquet
*.zip

# Generated ML files
# Streamlit deployment model files
!010_Dashboard/models/best_model.pkl
!010_Dashboard/models/feature_columns.pkl
!010_Dashboard/models/target_encoder.pkl
*.joblib

# Temporary output
*/tmp/
*/temp/
